<!-- Creates 1 label, 1 field form with action url pointing to user_tweets_path and passing in the user and tweet objects -->
<div class="row">
	<div class="col-md-6 col-sm-12">
	<h1>New Tweet</h1>
	<%= form_for @tweet, url: user_tweets_path(@user,@tweet) do |f| %>
		<div class="form-group"><%= f.text_area :status, placeholder: "What's happening #{@user.user_name}?", class:"form-control" %></div>
		<%= f.submit "Tweet", class:"btn btn-info btn-lg" %>
	<% end %>
	</div>
</div>
<div class="top-buffer">
	<%= link_to "Back", :back, class:"btn btn-default" %>
</div>